@use '_reset';

* {
  font-family: 'Lato', sans-serif;
}
body {
  background-color: #fefefe;
  color: #0b1b2d;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  padding: 1rem;
  img {
    width: 50vw;
  }
}

main {
  .searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 1rem;

    .searchInput {
      border: none;
      border-bottom: 1px solid #0b1b2d;
      outline: none;
      width: 100%;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }

    .searchInput:focus {
      outline: none;
    }

    .searchBtn {
      width: 100%;
      background-color: #adc6ff;
      border-radius: 10px;
      padding: 0.5rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 3px;
    }

    .searchBtn:hover {
      background-color: darken($color: #adc6ff, $amount: 6);
    }
  }

  .categoryContainer {
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 2rem 1rem;
    gap: 1rem;

    .categoryBtn {
      margin-bottom: 1rem;
      padding: 0.5rem 2rem;
      border-radius: 10px;
      box-shadow: rgba(11, 27, 45, 0.24) 0px 3px 8px;
      text-transform: uppercase;
      text-decoration: none;
      color: #0b1b2d;
      letter-spacing: 3px;
      font-weight: 400;
      cursor: pointer;
    }

    .categoryBtn:hover {
      background-color: #adc6ff;
    }
  }

  .recipeContainer {
    display: grid;
    margin: 1rem;
    gap: 1rem;

    .recipeItem {
      img {
        border-radius: 30px;
      }

      .recipeContent {
        transform: translateY(-50px);
        padding: 1rem;
        z-index: 10;
        color: #0b1b2d;
        background-color: #fefefe;
        box-shadow: rgba(11, 27, 45, 0.24) 0px 3px 8px;
        h2 {
          padding-block: 0.75rem;
          text-align: center;
          font-size: 1rem;
          letter-spacing: 3px;
          text-transform: uppercase;
        }
        p {
          font-weight: 300;
          letter-spacing: 3px;
          padding-bottom: 1rem;
        }
        button {
          width: 100%;
          background-color: #adc6ff;
          color: #0b1b2d;
          border-radius: 10px;
          padding: 0.5rem;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 3px;
          text-decoration: none;
        }
      }
    }
  }
}
